@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: Quicksand;
    font-size: larger;
    overflow: hidden;
}

.tabs {
    font-size: medium;
}

.activeDebt {
    border-bottom: solid 2px; 
  }

.activeDebtValues {
    display: block; 
  }

.inActiveDebtValues {
    display: none; 
  }

  .activeDaily {
    border-bottom: solid 2px; 
  }

.activeDailyValues {
    display: block; 
  }

.inActiveDailyValues {
    display: none; 
  }

/* Style for default (inactive) tabs */
.nav-tabs .nav-link {
  color: black; /* Choose your desired color, e.g., #333 (dark gray) or blue */
}

/* Style for the active tab */
.nav-tabs .nav-link.active {
  color: green; /* Choose your desired color, e.g., green, red, #007bff (Bootstrap primary blue) */
  /* You might also want to change background or border for the active state */
  /* background-color: #f8f9fa; */
  /* border-color: #dee2e6 #dee2e6 #fff; */
}

/* Optional: Style for hover state */
.nav-tabs .nav-link:hover {
  color: green; /* Choose a color for when the user hovers */
}

.dropdown-toggle::after {
  content: none; /* This hides Bootstrap's default caret icon */
}

.dropdown-toggle-custom-width {
  max-width: 120px; /* Adjust this value as needed based on your longest expected option */
  overflow: hidden; /* Ensures text-truncate works */
  white-space: nowrap; /* Ensures text-truncate works */
}

  .nowrap-table td, 
  .nowrap-table th {
    white-space: nowrap;     /* Prevent wrapping */
    overflow: hidden;        /* Hide overflowed text */
    text-overflow: ellipsis; /* Show ... if text is cut */
    max-width: 200px;
  }

  .table-responsive {
    overflow-x: auto;
  }

  .nowrap-table td:hover, .nowrap-table th:hover {
    white-space: normal;
    background-color: #e7f1ff; /* light blue background to show it's active */
  }

  input.form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }